@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}

input, select, option {
    font: inherit;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.content {
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    border: none;
    border-radius: 50px;
    background: #ffffff;
    box-shadow:  24px 24px 65px #c4c4c4,
                -24px -24px 65px #ffffff;
}

#calculadora {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.input-num {
    padding: 0.5em 1em;
    border-radius: 1em;
}

select {
    padding: 0 0.5em;
    border-radius: 1em;
}

#calcular {
    padding: 0 0.8em;
    border: 1px solid black;
    border-radius: 50%;
}

#aviso {
    display: none;
    margin: 2em 0;
    padding: 0.75em 2em;
    border: none;
    border-radius: 2em;
    background: #ffffff;
    box-shadow: inset 3px 3px 9px #cfcfcf,
                inset -3px -3px 9px #ffffff;
}

#resultado-visor {
    display: none;
    margin-top: 2em;
    padding: 0.75em 2em;
    border: none;
    border-radius: 2em;
    box-shadow: inset 3px 3px 9px #cfcfcf,
                inset -3px -3px 9px #ffffff;
}