<section>
    <h2>Tarefas</h2>

    <div class="kanban-board">
        <div class="kanban-col" *ngFor="let column of columns">
            <h2>{{ column.name }}</h2>
            <ng-container *ngFor="let task of tasks">
                <ng-container *ngIf="task.status === column.id">
                    <div class="task-card" (click)="clickTask(task)">
                        <h4>{{ task.title }}</h4>
                        <p>{{ task.description }}</p>
                        <button (click)="selectedTask(task)">Ver Detalhes</button>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</section>