section {
    padding: 2em;
    width: 100%;
}

.kanban-board {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.kanban-col {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 1em;
}

.kanban-col h2 {
    margin: 1.5em 0;
}

.task-card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
    padding: 1em 1.5em;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    background-color: white;
    color: rgb(255, 20, 157);
    border: none;
    border-radius: 1em;
}

.task-card button {
    padding: 1em 0.8em;
    border-radius: 1em;
    background: transparent;
    font: inherit;
    font-weight: bold;
    background-color: rgb(255, 20, 157);
    color: white;
    border: none;
    cursor: pointer;
}

.task-card button:hover {
    background-color: white;
    color: rgb(255, 20, 157);
}

.task-card button:active {
    background-color: white;
}