<section class="task-form">
    <h2>Adicionar <span>Tarefa</span></h2>

    <form (ngSubmit)="submitTask()" [formGroup]="formTask">
        <div class="input-wrapper">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" formControlName="title" required>
            <div class="text-danger" *ngIf="formTask.get('title')?.hasError('required')">Titulo obrigatório</div>
        </div>
        <div class="input-wrapper">
            <label for="description">Descrição:</label>
            <input type="text" id="description" name="description" required formControlName="description">
            <div class="text-danger" *ngIf="formTask.get('description')?.hasError('required')">Descrição obrigatória</div>
        </div>
        <div class="input-wrapper">
            <label for="date">Data de vencimento:</label>
            <input type="date" id="date" name="date" formControlName="date" pattern="^\d{4}-\d{2}-\d{2}$" required>
            <div class="text-danger" *ngIf="formTask.get('date')?.hasError('required')">Data obrigatória</div>
            <div class="text-danger" *ngIf="formTask.get('date')?.hasError('dateLessThan')">Data Inválida!</div>
        </div>
        <div class="input-wrapper">
            <label for="status">Status:</label>
            <select name="status" id="status" formControlName="status" required>
                <option value="" disabled selected>Selecione um status</option>
                <option value="toDo">A fazer</option>
                <option value="inProgress">Em Progresso</option>
                <option value="done">Completo</option>
            </select>
            <div class="text-danger" *ngIf="formTask.get('status')?.hasError('required')">Status obrigatório</div>
        </div>

        <button type="submit">Adicionar Tarefa</button>
    </form>
</section>